* {
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: rgb(40, 131, 251);
  --main-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.2);
  --main-shadow-hover: inset -6px -6px 10px rgba(39, 132, 251, 1), inset 6px 6px 20px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  position: relative;
}

.container-spec {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.tickets {
  position: relative;
  width: 90%;
  padding: 10px 0;
  margin: auto;
}

.ticks{
  box-shadow: var(--main-shadow);
  padding: 40px 0;
  margin-top: 30px;
  border-radius: 15px;
  height: 60vh;
  overflow: auto;
}

.tickets > h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(64, 91, 246);
  font-size: 2.5rem;
}

.tickets > .ticket{

  box-shadow: var(--main-shadow);
  border-bottom: 2px red solid;
  border-radius: 15px;
}

.ticket {
  font: inherit !important;
  display: grid !important;
  grid-template-columns: repeat(3, 33.33%);
  justify-items: center;
  padding: 5px!important;
  margin: 0 !important;
}

.ac {
  border: none !important;
  border-bottom: 1px black solid !important;
  padding: 0 !important;
  margin: 0 !important;
}

.ticket > p {
  pointer-events: none;
}

.ac {
  border: none;
}

.ticket-deets {
  position: relative;
  display: grid !important;
  grid-template-columns: 70% 30%;
}

.ticket-deets > div {
  padding: 20px 40px;
}

.ticket-deets > .left > p {
  font: inherit !important;
  padding: 0 !important;
}

.ticket-deets > .right {
  align-self: center;
  justify-items: right;
}

.ticket-deets > .right > button {
  cursor: pointer;
}
